body {
  color: #000;
  background: #ecf0f1;
  margin: 0;
}

.error {
    margin: 10% 20%;
    padding: 3%;
    border: 2px solid;
    border-radius: 7px;
}
.error__header {
    text-align: center;
}

.error__body {
    font-size: 17px;
    line-height: 1.471
}

.title {
    margin: auto;
}

.button {
    transition: border .25s linear,color .25s linear,background-color .25s linear;
    font-weight: 400;
    border: none;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
    width: 20%;
    outline: none;
}

.button--danger {
     color: #fff;
     background-color: #e74c3c;
 }

.button--info {
    color: #fff;
    background-color: #3498db;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.button-group {
    text-align: center;
}
.button-group .button {
    margin-left: 10%;
}

.button-group .button:first-child {
    margin-left: 0;
}
