<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../styles/main.css" rel="stylesheet">
    <script src="../scripts/popup.js"></script>
  </head>
  <body>
    <div id="wrapper" >
      <div id="titletext">
        <h1>Noizy-Ads v0.0.1</h1>
          <table><tr><td><iframe src="http://ghbtns.com/github-btn.html?user=marzubov&repo=noizy-ads&type=watch&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 30px;" allowTransparency="true"></iframe></td><td><iframe src="http://ghbtns.com/github-btn.html?user=marzubov&repo=noizy-ads&type=fork&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 30px;" allowTransparency="true"></iframe></td><td><iframe src="http://ghbtns.com/github-btn.html?user=marzubov&type=follow&count=true" height="30" width="168" frameborder="0" scrolling="0" style="width:168px; height: 30px;" allowTransparency="true"></iframe></td></tr></table>
      </div>
    </div>
  </body>
</html>
